<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GameService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.GameServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGame/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoAdmin/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestGeoGameAgents/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.MapOverviewer/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestRemoteClient/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.Agent/GameService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGameAMT/GameService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessageService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.MessageServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGame/MessageService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoAdmin/MessageService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestGeoGameAgents/MessageService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.MapOverviewer/MessageService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestRemoteClient/MessageService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.Agent/MessageService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGame/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoAdmin/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestGeoGameAgents/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.MapOverviewer/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestRemoteClient/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.Agent/LoginService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGameAMT/LoginService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DevService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.DevServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGame/DevService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoAdmin/DevService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestGeoGameAgents/DevService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.MapOverviewer/DevService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestRemoteClient/DevService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.Agent/DevService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.TestServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGame/TestService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoAdmin/TestService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestGeoGameAgents/TestService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.MapOverviewer/TestService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.TestRemoteClient/TestService</url-pattern>
        <url-pattern>/edu.cmu.cs.cimds.geogame.Agent/TestService</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>text2img</servlet-name>
		<servlet-class>edu.cmu.cs.cimds.geogame.server.ImageServlet</servlet-class>
		<init-param>
			<param-name>requestAction</param-name>
			<param-value>text2img</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>text2img</servlet-name>
		<url-pattern>*.text2img</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>WaitingRoomService</servlet-name>
        <servlet-class>edu.cmu.cs.cimds.geogame.server.WaitingRoomServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WaitingRoomService</servlet-name>
        <url-pattern>/edu.cmu.cs.cimds.geogame.GeoGameAMT/WaitingRoomService</url-pattern>
    </servlet-mapping>
	


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GeoGame.html</welcome-file>
    </welcome-file-list>
</web-app>